.container {
  width: 1440px;
  height: 696px;
  background-color: #fff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.gallery-item {
  margin: 10px;
}
.gallery-link {
  text-decoration: none;
}
.gallery-image {
  width: 360px;
  height: 200px;
}
